body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(198, 231, 12);
}
.title {
    color: black;
    font-size: 60px;
    font-weight: 900;
    text-align: center;

}
.description {
    color: black;
    font-size: 32px;
    font-weight: 200;
}

.ingredients,
.steps {
    color: black;
    font-size: 40px;
    font-weight: 100;
}