body {
    font-family: 'Courier New', Courier, monospace;
    background-color: chocolate;
}

.title {
    color: black;
    font-size: 32px;
    font-weight: 900;
    text-align: center;

}

.name {
    color: black;
    font-size: 24px;
    font-weight: 500;
}
